body {
    background-color: gainsboro;
}

#weboldal {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: auto;
    margin-bottom: auto;*/
  }

#felsoResz {
    display: flex;
    min-height: 500px;
    margin: 100px 0 0 0;
  }

#balNyil {
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jobbNyil {
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nyilJobbra {
    transform: rotate(0.5turn);
}

.nyil:hover {
    opacity: 0.3;
    cursor: pointer;
}

#kozepsoNagyKep {
    width: 900px;
    position: relative;
}

.infoBlokk {
    background-color: black;
    color: white;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    bottom: 0px;
}

#alsoResz {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
  }

.kicsiKepek {
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin: 0;
    box-shadow: 0px 10px 5px black;
    position: relative;
}

.kicsiKepek:hover {
    cursor: pointer;
}

.title {
    display: none;
    position: relative;
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: -100px;
  }