.header {
  background: purple;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
}

.link {
  background: cyan;
  height: 30px;
  width: 150px;
  margin: 0 10px;
}

.link.center {
  width: 250px;
}

.main-aside-holder {
  display: flex;
  height: 500px;
}

.main {
  flex-grow: 4;
  background: yellow;
}

.aside {
  flex-grow: 1;
  background: lime;
}